ion-tab-button{
    background-color: #BCBDC8;
    color: #596063; 
}
.tab-selected{
    color: #474787;
}
p{
    font-size: 20px;
    border: 0 0 0 0;
    color: #474787;
    font-weight: 500;
}
.button{
    color: #474787;
}
ion-tab-bar{
    background: #bcbdc8;
}