<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false" menuToggle></ion-menu-button>
        </ion-buttons>
      <ion-title>
       <p>BikeEssence</p>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list class="bg-transparent">

    <ion-item-divider class="padding">
      <ion-label>
        <h4>O APLIKACJI</h4>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Czemu poświęcona jest aplikacja?</h3>
        </ion-text>
        <ion-text>
          <p>„Aplikacja Rowerowa” służy ułatwieniu życia rowerzyście zarówno amatorowi jak i osobie bardziej zaawansowanej. </p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Co możemy w niej znaleźć?</h3>
        </ion-text>
        <ion-text>
          <p>Aplikacja oferuje łatwe odnalezienie najbliższych wypożyczalni rowerowych oraz nawigowanie po wybranych wcześniej trasach. Możesz oceniać przebyte trasy oraz stworzyć własną listę ulubionych. Dobranie poziomu trudności do naszych predyspozycji jest możliwe dzięki filtrowaniu opartemu na załączonych informacjach o długości i wymaganiach trasy. Ponadto bez problemu odnajdziesz ciekawe miejsca i zabytki zlokalizowane w pobliżu. </p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Dla kogo przeznaczona jest aplikacja?</h3>
        </ion-text>
        <ion-text>
          <p>Aplikacja stworzona jest dla wszystkich osób chcących korzystać z uroków przyrody oraz zdrowego trybu życia. Nawet nie musisz posiadać roweru gdyż bez problemu wypożyczysz go w jednej z proponowanych wypożyczalni. </p>
        </ion-text>
      </ion-label>
    </ion-item>
  
  </ion-list>

</ion-content>
