<ion-content padding class="background">

  <div class="loginlogo">
    <img src="assets/img/logo.png" style="height: 180px">
  </div>
  
  <section class = "section1">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

      
    
      <ion-item>
        <ion-label color= "dark" style="font-weight: 800;" position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
      <ion-item>
        <ion-label color= "dark" style="font-weight: 800;" position="floating" color="primary">Hasło</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
      <div class="login-section">
        <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Zaloguj</ion-button>
        <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="goToRegisterPage()"><p>Zarejestruj</p></ion-button>
        <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="loginWithFacebook()" ><ion-icon slot="end" name="logo-facebook"></ion-icon><p>Zaloguj przez Facebook</p></ion-button>
      </div>
      
  
      <label class="error-message">{{errorMessage}}</label>
    </form>
  </section>

</ion-content>