<ion-app>

  <ion-menu side="start" type="push" contentId="content1">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title (click)="toggleMenu()" [routerLink]="['/tabs']" >Menu<img class="img-side-menu" src="assets/img/logo.png" style="height: 50px"></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="light-grey">
        <ion-list>
          <ion-item (click)="toggleMenu()" [routerLink]="['/user']" routerLinkActive="active-link"><ion-icon slot="end" name="person-outline"></ion-icon>Moje konto</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/information']" routerLinkActive="active-link"><ion-icon slot="end" name="information-circle-outline"></ion-icon>Informacje</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/settings']" routerLinkActive="active-link"><ion-icon slot="end" name="settings-outline"></ion-icon>Ustawienia</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="bookmark-outline"></ion-icon>Osiągniecia</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="star-outline"></ion-icon>Ulubione trasy</ion-item>
          <ion-item (click)="logout()" routerLinkActive="active-link"><ion-icon slot="end" name="log-out-outline"></ion-icon>Wyloguj</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>

</ion-app>